body {
    background: #f4f4f4;
    font-family: Arial;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.box-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 200px;
    background: white;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.login-box {
    width: 300px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
